/*

 */
/* line 6, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
body {
  font-family: "Proxima Nova";
  font-weight: 100;
}

/* line 11, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

/* line 15, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(135, 216, 211, 0.85);
}
/* line 21, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
#notice_wrapper .notice {
  padding: 2.75rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 1px;
}

/* line 32, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
#alert_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 0, 0, 0.8);
}
/* line 38, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
#alert_wrapper .alert {
  padding: 2.75rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 1px;
}

/* line 50, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.pagination {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
/* line 55, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.pagination .previous_page, .pagination .next, .pagination .next_page, .pagination a {
  background-color: #c9c9c9;
  color: #FFF;
  text-decoration: none;
  padding: .4rem;
  font-size: 1rem;
  border-radius: 3px;
}
/* line 63, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.pagination .current {
  background-color: #50A7C7;
  color: #FFF;
  text-decoration: none;
  font-size: 1rem;
  padding: .4em;
  border-radius: 3px;
}

/* line 72, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.form_main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
/* line 77, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.form_main form {
  width: 100%;
}
/* line 79, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.form_main form input, .form_main form textarea {
  width: 100%;
  padding: .4rem 0;
  padding-left: 1%;
  margin: 10px 0;
}
/* line 85, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.form_main form input[type="submit"] {
  margin-left: 1%;
  width: 100%;
}

/* line 104, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 109, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 114, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.clearfix:after {
  clear: both;
}

/* line 118, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
.button {
  border: 1px solid #9B9B9B;
  padding: .7rem 1.25rem;
  border-radius: .3rem;
  outline: none;
  background: white;
  color: #9B9B9B;
}

/* line 127, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #E4E4E4;
}
/* line 131, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header #logo {
  float: left;
  font-size: 1.75rem;
}
/* line 134, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header #logo a {
  color: #333233;
  text-decoration: none;
}
/* line 137, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header #logo a:hover {
  color: #50A7C7;
}
/* line 142, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header nav {
  float: right;
}
/* line 144, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header nav a {
  margin-left: 1.5rem;
  line-height: 2;
  color: #9B9B9B;
  text-decoration: none;
}
/* line 149, /home/filipe/likeimage/app/assets/stylesheets/application.css.scss */
header nav a:hover {
  color: #50A7C7;
}

/* line 1, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#intro {
  margin: 2.75rem 0 1.75rem 0;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1;
}
/* line 6, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#intro span {
  font-size: 1.25rem;
  color: #9B9B9B;
}

/* line 12, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post {
  background: #F8F9FA;
  width: 30%;
  float: left;
  margin: 1rem 1.5%;
  border: 1px solid #E4E4E4;
  border-radius: 0.3rem;
}
/* line 19, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_image {
  height: 200px;
  overflow: hidden;
}
/* line 22, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_image img {
  width: 100%;
  border-radius: .3rem .3rem 0 0;
}
/* line 28, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content h2 {
  margin: 0;
  font-weight: 100;
  padding: 1rem 5%;
  border-bottom: 1px solid #E4E4E4;
  font-size: 1.25rem;
  cursor: pointer;
}
/* line 35, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content h2 a {
  text-decoration: none;
  color: #333233;
}
/* line 38, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content h2 a:hover {
  color: #50A7C7;
}
/* line 43, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content .data {
  padding: .75rem 5%;
  color: #969696;
}
/* line 46, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content .data .username, #posts .post .post_content .data .buttons {
  margin: 0;
  font-size: .8rem;
}
/* line 50, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content .data .username {
  float: left;
}
/* line 53, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content .data .buttons {
  float: right;
}
/* line 55, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
#posts .post .post_content .data .buttons span {
  margin-left: .5rem;
}

/* line 64, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
footer {
  background-color: #969696;
  padding: .75rem 5%;
  color: white;
}
/* line 68, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
footer .username, footer .buttons {
  margin: 0;
  font-size: .8rem;
}
/* line 72, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
footer .username {
  float: left;
}
/* line 75, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
footer .buttons {
  float: right;
}
/* line 77, /home/filipe/likeimage/app/assets/stylesheets/home.css.scss */
footer .buttons span {
  margin-left: .5rem;
}

/* line 5, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show {
  padding-top: 2rem;
}
/* line 7, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .post_image_description {
  width: 50%;
  float: left;
  margin-right: 5%;
}
/* line 12, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .post_data {
  width: 15%;
  float: left;
}
/* line 15, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .post_data .button {
  width: 100%;
  display: inline-block;
  padding: .75rem 0;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  color: #969696;
}
/* line 23, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .post_data .button:hover {
  color: #50A7C7;
  border: 1px solid #50A7C7;
}
/* line 28, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .post_data .data {
  width: 100%;
  display: block;
  padding: .75rem 0;
  border-bottom: 1px solid #E9E9E9;
  text-decoration: none;
  color: #969696;
  margin: 0;
}
/* line 38, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post {
  width: 25%;
  margin-left: 5%;
  margin-top: -3.2rem;
  float: left;
}
/* line 43, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post h3 {
  font-size: 1rem;
}
/* line 46, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post {
  background: #F8F9FA;
  border: 1px solid #E4E4E4;
  border-radius: 0.3rem;
}
/* line 50, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_image {
  height: 200px;
  overflow: hidden;
}
/* line 53, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_image img {
  width: 100%;
  border-radius: .3rem .3rem 0 0;
}
/* line 59, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content h2 {
  margin: 0;
  font-weight: 100;
  padding: 1rem 5%;
  border-bottom: 1px solid #E4E4E4;
  font-size: 1.25rem;
}
/* line 65, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content h2 a {
  text-decoration: none;
  color: #333233;
}
/* line 68, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content h2 a:hover {
  color: #50A7C7;
}
/* line 73, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content .data {
  padding: .75rem 5%;
  color: #969696;
}
/* line 76, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content .data .username, #post_show #random_post .post .post_content .data .buttons {
  margin: 0;
  font-size: .8rem;
}
/* line 80, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content .data .username {
  float: left;
}
/* line 83, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content .data .buttons {
  float: right;
}
/* line 85, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show #random_post .post .post_content .data .buttons span {
  margin-left: .5rem;
}
/* line 93, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show h1 {
  margin: 0;
  color: #333233;
}
/* line 97, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show img {
  width: 100%;
  border-radius: .3rem;
}
/* line 101, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .username {
  color: #969696;
  margin: 0 0 1.5rem 0;
}
/* line 105, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#post_show .description {
  margin: 2rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #969696;
}

/* line 113, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments {
  padding-bottom: 4rem;
  width: 50%;
}
/* line 116, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .comment_count {
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: .5rem;
  margin-bottom: 0;
}
/* line 121, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments a {
  text-decoration: none;
}
/* line 124, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .logout {
  color: #50A7C7;
  font-style: italic;
  font-size: 1.2rem;
  padding: 0 1.2rem;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 134, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .comment {
  padding: 2rem 0;
  border-bottom: 1px solid #E9E9E9;
  padding-left: 5%;
}
/* line 138, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .comment .username {
  font-size: 1.3rem;
  color: #333233;
  margin: 0 0 .5rem 0;
}
/* line 143, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .comment .content {
  margin: 0;
  color: #969696;
}
/* line 149, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .comment_content {
  margin-top: 2.5rem;
}
/* line 151, /home/filipe/likeimage/app/assets/stylesheets/posts.scss */
#comments .comment_content textarea {
  width: 100%;
  margin: 1rem 0;
  min-height: 150px;
  border: 1px solid #E4E4E4;
  background: #F8F9FA;
  border-radius: 0.3rem;
}
